<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="nineteen02_customer" frontName="nineteen02_customer">
            <module name="Nineteen02_Customer"/>
        </route>
    </router>
</config>
