<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Nineteen02\Customer\Api\Data\CustomAttributeInterface"
                type="Nineteen02\Customer\Model\CustomAttribute"/>

    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="joinCustomAttribute"
                type="Nineteen02\Customer\Plugin\Customer\Repository"/>
    </type>
</config>
