<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Sparsh\FreeShippingBar\Block\Adminhtml\Entity\Edit\Tab\WhatToDisplay">
        <plugin name="adminhtml_what_to_display_achieved_fields" type="Nineteen02\FreeShippingBar\Plugin\Adminhtml\WhatToDisplayAchievedFields" sortOrder="1" disabled="false"/>
    </type>
</config>
